<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dog" class="com.qiuqian.entity.Dog"></bean>
    <bean id="cat" class="com.qiuqian.entity.Cat"></bean>
    <bean id="user" class="com.qiuqian.entity.User">
        <property name="cat" ref="cat"></property>
        <property name="dog" ref="dog"></property>
        <property name="str" value="qiuqian"></property>
    </bean>
</beans>